.BookingReviewsPostsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.BookingReviewsPostsTabs {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.BookingReviewsPostsTab {
  cursor: pointer;
}

.BookingReviewsPostsTabText {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

.BookingReviewsPostsActiveTabLine {
  height: 0.3rem;
  border-radius: 2rem 2rem 0 0;
  background: #27a124;
}

.active .BookingReviewsPostsTabText {
  color: #27a124;
}
@media screen and (max-width: 1024px) {
  .BookingReviewsPostsTabs {
    background: #ffffff;
    padding: 0.2rem;
    border-radius: 4px;
  }

  .BookingReviewsPostsTab {
    padding: 0.7rem;
    width: 21%;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  .active.BookingReviewsPostsTab {
    background: #27a124;
  }

  .active .BookingReviewsPostsTabText {
    color: #fefefe;
  }

  .BookingReviewsPostsActiveTabLine {
    display: none;
  }

  .BookingReviewsPostsContainer hr{
    display: none;
  }
}
