.mostsold_container {
  padding-bottom: 3rem;
  background: #f8f8f8;
}

.mostsold-frame {
  width: min(93%, 1440px);
  margin: 0 auto;
}

p.mostsold_title {
  color: var(--Ash-100, #8f8f8f);
  font-family: Poppins;
  font-size: 19.548px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3rem;
}

.mostsold-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
  gap: 30px;
  margin-top: 30px;
}

.mostsold-card {
  width: 320px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 16px;
  text-decoration: none;
  /* border: 2px solid black; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mostsold-card_food-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  height: 200px; /* Fixed height */
  overflow: hidden;
}

.mostsold-card_img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.mostsold-card_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1; /* Ensure the content area stretches to fill the card */
}

.mostsold-card_context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0.5rem; */
}

.mostsold-card_context-top {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

small.mostsold-card_rating {
  color: #000000;
}

small.mostsold-card_title {
  color: var(--Black-100, #2a2a2a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow */
}

.mostsold-card_timer-text {
  color: #565656;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mostsold-card_dot {
  background: #4bb149;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

svg.mostsold-card_star {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  color: #ffc93f;
}

svg.mostsold-card_timer-icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #565656;
}

.mostsold-card_timer {
  display: flex;
  align-items: center;
}

small.mostsold-card_remender {
  color: #565656;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.mostsold-card_prize {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* Push to the bottom of the card */
  background: #f8f8f8;
  padding: 0.5rem;
  border-radius: 50px;
}

p.mostsold-card_prize-text {
  color: var(--Soft-black, #565656);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mostsold-card_prize-link {
  display: flex;
  width: 78px;
  max-width: 88px;
  /* padding: 6px 40px; */
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Green1, #27a124);
  color: #fefefe;
}

/* Style for the disabled "Add to Cart" button */
.mostsold-card_prize-link.added-to-cart {
  background-color: #ccc; /* Gray background */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.7; /* Reduce opacity */
}

/* Style for the disabled button (native disabled attribute) */
.mostsold-card_prize-link:disabled {
  background-color: #ccc; /* Gray background */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.7; /* Reduce opacity */
}

.sale-imgs-container {
  display: flex;
  margin: 3rem auto;
}

img.mostsold-sale_img {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .mostsold-cards {
    flex-wrap: wrap;
  }

  .mostsold-card {
    flex: 1 1 11rem;
  }

  small.mostsold-card_title,
  small.mostsold-card_rating {
    font-size: 13px;
  }

  .mostsold-card_dot {
    width: 5px;
    height: 5px;
  }

  svg.mostsold-card_star {
    width: 12px;
    height: 12px;
  }

  svg.mostsold-card_timer-icon {
    width: 14px;
    height: 14px;
  }

  a.mostsold-card_prize-link {
    width: 100px;
  }
}
.mostsold-card_prize-link:hover {
  background: #1c871b;
}

.mostsold-card_prize-icon {
  font-size: 1.2rem;
}

.RestaurantMeal_container {
  margin: 2rem 0;
}

.RestaurantMeal_Frame {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  width: min(93%, 1444px);
}

.restaurant_Meal_filter_line {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.restaurant_Meal_filter {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  cursor: pointer;
}

p.RestaurantMeal_realAmount,
p.RestaurantMeal_N,
p.RestaurantMeal_R_Num,
p.RestaurantMeal_title_filter,
p.RestaurantMeal_Liters,
.RestaurantMeal_T_Time {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: normal;
  color: #2a2a2a;
}

.MPDE_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto;
}

.MPDE_Tabs {
  display: flex;
  gap: 2rem;
}

.MPDE_Tab {
  cursor: pointer;
}

.MPDE_TabText {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
}

.MPDE_ActiveTabLine {
  height: 0.3rem;
  border-radius: 2rem 2rem 0 0;
  background: #27a124;
}

.active .MPDE_TabText {
  color: #27a124;
}

.RestaurantMeal_cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
}

.RestaurantMeal_card {
  width: 32%;
  scroll-snap-align: center;
  flex-shrink: 0;
  flex: 1 1 10rem;
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 16px;
}

.RestaurantMeal_FavANDImage {
  position: relative;
  width: 100%;
}

.RestaurantMeal_Image {
  width: 100%;
}

.RestaurantMeal_Fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 6px;
  gap: 6px;
  border-radius: 60px;
  border: 0.6px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.528317937850952px);
}

.RestaurantMeal_FavIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27a124;
}

.RestaurantMeal_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.6rem;
  width: 100%;
}

.RestaurantMeal_NRT {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.RestaurantMeal_Name_Rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p.RestaurantMeal_N,
p.RestaurantMeal_R_Num,
p.RestaurantMeal_T_Time {
  font-size: 13px;
  font-weight: 400;
}

.RestaurantMeal_Dot {
  width: 5.598px;
  height: 5.598px;
  background: #2a2a2a;
  border-radius: 50px;
}

.RestaurantMeal_R,
.RestaurantMeal_T {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.RestaurantMeal_R_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.951px;
  height: 12.951px;
  color: #ffc93f;
}

.RestaurantMeal_T_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  gap: 2.398px;
  color: #2a2a2a;
}

p.RestaurantMeal_Liters {
  color: #27a124;
  font-size: 12px;
  font-weight: 400;
}

.RestaurantMeal_amount_and_cart {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  justify-content: space-between;
  border-radius: 50px;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 0.89) 0%,
    rgba(249, 249, 249, 0.89) 100%
  );
  backdrop-filter: blur(9.330162048339844px);
}

.RestaurantMeal_amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

p.RestaurantMeal_realAmount {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
}

.RestaurantMeal_cart {
  display: flex;
  width: 40%;
  padding: 7.314px;
  justify-content: center;
  align-items: center;
  gap: 10.314px;
  border-radius: 50px;
  background: #27a124;
}

.RestaurantMeal_cart_Icon {
  color: #fefefe;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Restsale-imgs-container {
  display: flex;
  margin: 3rem auto;
}

img.Restmostsold-sale_img {
  width: 100%;
  display: flex;
  align-items: center;
}

.Mobile_RestaurantMeal_container {
  display: none;
}

@media screen and (max-width: 1178px) {
}

@media screen and (max-width: 768px) {
  .RestaurantMeal_Frame {
    display: none;
  }

  .Mobile_RestaurantMeal_container {
    background: #fefefe;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p.Mobile_RestaurantMeal_title {
    color: #2a2a2a;
    font-family: 'Poppins' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .Mobile_RestaurantMeal_FavANDImage {
    position: relative;
    width: 100%;
  }

  .Mobile_RestaurantMeal_Image {
    width: 100%;
  }

  .Mobile_RestaurantMeal_Fav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 6px;
    gap: 6px;
    border-radius: 60px;
    border: 0.6px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2.528317937850952px);
  }

  .Mobile_RestaurantMeal_FavIcon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #27a124;
  }

  .Mobile_RestaurantMeal_details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    width: 100%;
  }

  .Mobile_RestaurantMeal_NRT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .Mobile_RestaurantMeal_Name_Rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  p.Mobile_RestaurantMeal_N,
  p.Mobile_RestaurantMeal_R_Num {
    color: #2a2a2a;
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_Dot {
    width: 5.598px;
    height: 5.598px;
    background: #2a2a2a;
    border-radius: 50px;
  }

  .Mobile_RestaurantMeal_R,
  .Mobile_RestaurantMeal_T {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .Mobile_RestaurantMeal_R_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.951px;
    height: 12.951px;
    color: #ffc93f;
  }

  .Mobile_RestaurantMeal_T_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    gap: 2.398px;
    color: #2a2a2a;
  }

  .Mobile_RestaurantMeal_Liters {
    color: #ef5a5a;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_amount_and_cart {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0.6rem;
    justify-content: space-between;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(249, 249, 249, 0.89) 0%,
      rgba(249, 249, 249, 0.89) 100%
    );
    backdrop-filter: blur(9.330162048339844px);
  }

  .Mobile_RestaurantMeal_amount {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  p.Mobile_RestaurantMeal_realAmount {
    color: #8f8f8f;
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
  }

  .Mobile_RestaurantMeal_discountAmount {
    color: #2a2a2a;
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_cart {
    display: flex;
    width: 40%;
    padding: 10.314px;
    justify-content: center;
    align-items: center;
    gap: 10.314px;
    border-radius: 50px;
    background: #27a124;
  }

  .Mobile_RestaurantMeal_cart_Icon {
    color: #fefefe;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/* New update  */

