/* ====== Schedule Time ====== */
.MovingScheduleTimeCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.MovingScheduleTimeContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.7rem;
}
.MovingScheduleTimeFrame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}

.MovingScheduleTimeIcon {
  width: 25px;
  height: 25px;
}

.MovingScheduleTime {
  display: flex;
  flex-direction: column;
}

.MovingScheduleTimeText,
.MovingScheduleTimeNum {
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2c;
}

.MovingScheduleTimeText {
  font-size: 12px;
  color: #cccccc;
}

.MovingScheduleTimeDetails {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  color: #666;
  height: 400px;
  overflow: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 4.4rem;
}

/* ===================== Time Picker ===================== */
.TimePicker_Container {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #666;
}

.TimePicker_Display {
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
}

.TimePicker_TimeText {
  color: var(--Black-100, #2a2a2a);
  font-family: "Poppins" sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.805px;
}

.TimePicker_AmPm_Picker {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.TimePicker_AmPm {
  display: flex;
  width: 32.806px;
  height: 32.806px;
  padding: 6.959px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.959px;
  cursor: pointer;

  /* Styles */
  border-radius: 69.593px;
  border: 1px solid var(--Ash-100, #8f8f8f);
  transition: background-color 0.3s ease, color 0.3s ease;

  /* typography */
  font-size: 9.743px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.046px;
}

.TimePicker_AmPm.Disabled_AmPm {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.TimePicker_AmPm.Active_AmPm {
  background: var(--Black-100, #2a2a2a);
  color: #fff;
}

.TimePicker_TimeSelections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.6rem 0 4rem;
}

.TimePicker_TimeSelection {
  color: var(--Black-100, #2a2a2a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.805px;

  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  margin: 0 auto;
  border-radius: 4px;
  width: 97%;
  height: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.TimePicker_TimeSelection:hover {
  background: rgba(210, 210, 210, 0.28);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Active_TimeSelection {
  width: 97%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(210, 210, 210, 0.28);
}
