@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --input-bg: #d2d2d24d;
  --green-bg: #27a124;
  --disabled-green: #5b875a;
}

body {
  font-family: "Poppins", sans-serif;
}

main.main_container {
  margin: 4rem 0 0;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
}

p,
div,
small,
h1,
h2,
h3,
h4,
h5,
span,
a,
ul,
li {
  font-family: "Poppins", sans-serif !important;
}
