@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --input-bg: #D2D2D24D;
  --green-bg: #27A124;
  --disabled-green: #5b875a;
}

body {
  font-family: 'Roboto', sans-serif;
}

section {
  width: 100%;
}