.Contact_Us_frame {
  width: 100%;
  background: #fefefe;
}

.Contact_Us_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .Contact_Us_Container {
    margin: 4rem auto;
    width: 100%;
  }
}

.Contact_Us_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Contact_Us_Title {
  color: var(--Black-90, #1b1b1b);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

p.Contact_Us_SubTitle {
  width: 809px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 800px) {
  p.Contact_Us_Title {
    font-size: 1.2rem;
  }

  p.Contact_Us_SubTitle {
    width: 70%;
    font-size: 1rem;
  }
}

/* ====== LMEO ====== */
.LMEO_container {
  display: flex;
  gap: 43px;
  width: 88%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 538px) {
  .LMEO_container {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.LMEO_Content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 10rem;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 538px) {
  .LMEO_Content {
    flex: 1 1 100%;
  }
}

.lmeo_Icon_Text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
}

svg.lmeo_Icon {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  color: #292d32;
}

p.lmeo_Text {
  color: var(--Ash-100, #8f8f8f);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

p.lmeo_black_Text {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* ======== SMS Message & Map ========= */
.smsMap_Container {
  display: flex;
  gap: 1.5rem;
  margin: 1rem auto;
  width: 88%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .smsMap_Container {
    flex-direction: column;
    width: 95%;
  }
}

form.smsMessage_Container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(247, 247, 247, 0.58);
  padding: 2.5rem;
  justify-content: center;
  flex: 1 1 300px;
}

@media screen and (max-width: 800px) {
  form.smsMessage_Container {
    width: 100%;
    padding: 2.5rem 1rem;
  }
}

p.smsMessage_title {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.Input_smsMessage_box {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
  gap: 0.7rem;
}

input.smsMessage_Input {
  display: flex;
  width: 100%;
  padding: 0.6rem;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Ash-100, #8f8f8f);
}

textarea.smsMessage_Textarea {
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid var(--Ash-100, #8f8f8f);
  resize: none;
}

button.button.smsMessage_Btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--Ash-100, #8f8f8f);
  color: #fefefe;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 6rem;
}

.mapLocation_image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapLocation_img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.mapLocation_iframe {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  border: none;
}

/* ======== FAQs ========= */
.faq-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

@media screen and (max-width: 800px) {
  .faq-container {
    width: 100%;
    padding: 20px;
    display: block;
  }
}

.faq-title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #1b1b1b;
  font-weight: 500;
  line-height: 30px;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.faq-item {
  flex: 1 1 calc(50% - 10px); /* 50% width minus half the gap */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px 0; /* Optional: Add padding */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

/* Media query for screens below 600px */
@media screen and (max-width: 600px) {
  .faq-item {
    flex: 1 1 100%; /* Full width for 1 item per row */
  }
}

.faq-question {
  width: 100%;
  color: #333;
  font-size: 1rem;
  padding: 10px 10px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.faq-question.active {
  color: #555555;
}

.faq-icon {
  font-size: 1.5rem;
}

.faq-answer {
  padding: 10px 15px;
  font-size: 0.9rem;
  color: #555;
  width: 100%;
  animation: fadeIn 0.3s ease;
  background-color: #f1f1f1; 
  border-radius: 5px;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}