/* ============= Small Discount Black Card ============== */
.HJRDiscountSales_ContainerCards {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /* Allows the cards to wrap to the next line */
  width: min(93%, 1444px);
  margin: 0.6rem auto;
}

.HJRDiscountSales_Card {
  position: relative;
  display: flex;
  background: #2a2a2a;
  border-radius: 1rem;
  padding: 2.5rem 1.2rem;
  overflow: hidden;
  width: calc(33.333% - 1rem); /* Default width for 3 items per row */
  height: 10.3125rem;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

@media screen and (max-width: 1276px) {
  .HJRDiscountSales_Card {
    width: calc(33.333% - 1rem); /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 1024px) {
  .HJRDiscountSales_Card {
    width: calc(33.333% - 1rem); /* 3 items per row at 1024px */
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .HJRDiscountSales_Card {
    width: calc(50% - 1rem); /* 2 items per row at 768px */
  }
}

.HJRDiscountSales_DiscountTitle {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 50%;
  position: absolute;
  left: 3rem;
  top: 1.5rem;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .HJRDiscountSales_DiscountTitle {
    left: 1.5rem;
    top: 1rem;
  }
}

.HJRDiscountSales_DiscountTickText {
  color: var(--White, #fefefe);
  font-size: 1.3rem;
  font-weight: 700;
}

.HJRDiscountSales_DiscountLightText {
  color: var(--White, #fefefe);
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (max-width: 1276px) {
  .HJRDiscountSales_DiscountLightText,
  .HJRDiscountSales_DiscountTickText {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .HJRDiscountSales_DiscountLightText,
  .HJRDiscountSales_DiscountTickText {
    font-size: 1rem;
  }
}

.HJRDiscountSales_BlackImageTop {
  position: absolute;
  top: 0;
  right: 0;
}

img.HJRDiscountSales_BlackTopSpecialOfferImage {
  width: 7rem;
}

.HJRDiscountSales_BlackImageBottom {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

img.HJRDiscountSales_BlackBottomFoodImage {
  width: 14.5rem;
}

@media screen and (max-width: 1024px) {
  .HJRDiscountSales_BlackImageTop {
    width: 7rem;
  }

  .HJRDiscountSales_BlackImageBottom {
    width: 12rem;
  }
}
