.Laundry_Container {
  background: #f8f8f8;
}

.Laundry_head {
 width: min(93%, 1440px);
  margin: 3.7rem auto 0;
}

.Laundry_restCont {
  display: flex;
  gap: 1rem;
}

.Laundry_Cont {
  width: min-content;
}

@media screen and (max-width: 1024px) {
  .Laundry_Cont {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .Laundry_Cont {
    width: 100%;
    margin: 0 auto;
  }

  .Laundry_head {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .LaundryBack_Button {
    display: none;
  }

  .Laundry_Cont {
    width: 100%;
    margin: 0;
  }
}
